<script>
	clearAnimationTimeout();
</script>
<div id="top-slider" slider-width="">
        <ul class="bannerscollection_zoominout_list">
	   	<li data-initialzoom="1" data-finalzoom="1.1" data-horizontalposition="center" data-text-id="#bannerscollection_zoominout_photoText1" data-verticalposition="center"><img src="images/sales_1.jpg" alt="" width="2500" height="100"></li>
      <li data-initialzoom="1" data-finalzoom="1.05" data-horizontalposition="center" data-text-id="#bannerscollection_zoominout_photoText2" data-verticalposition="center"><img src="images/sales_2.jpg" alt="" width="2500" height="1300"></li>
	<li data-initialzoom="1" data-finalzoom="1.05" data-horizontalposition="center" data-text-id="#bannerscollection_zoominout_photoText3" data-verticalposition="center"><img src="images/sales_3.jpg" alt="" width="2500" height="1300"></li>      
        </ul>  
        <div id="bannerscollection_zoominout_photoText1" class="bannerscollection_zoominout_texts">
	        <div class="bannerscollection_zoominout_text_line textElement11_opportuneFullWidth" data-initial-left="680" data-initial-top="800" data-final-left="1385" data-final-top="800" data-duration="0.5" data-fade-start="0" data-delay="0"><span>Knowledge is the key</span></div>
	        <div class="bannerscollection_zoominout_text_line textElement42_opportuneFullWidth" data-initial-left="0" data-initial-top="885" data-final-left="1300" data-final-top="885" data-duration="0.5" data-fade-start="0" data-delay="0.5"><span>Knowing the market gives our clients</span></div>
	        <div class="bannerscollection_zoominout_text_line textElement42_opportuneFullWidth" data-initial-left="0" data-initial-top="945" data-final-left="1440" data-final-top="945" data-duration="0.5" data-fade-start="0" data-delay="0.5"><span> a significant <span style="font-weight:bold">market advantage</span></span></div>
	        <div class="bannerscollection_zoominout_text_line textElement40_opportuneFullWidth" data-initial-left="2160" data-initial-top="1030" data-final-left="2160" data-final-top="1030" data-duration="0.5" data-fade-start="0" data-delay="1"><span><a data-reveal-id="enquireOverlay">Enquire</a></span></div>
       </div>      
       <div id="bannerscollection_zoominout_photoText2" class="bannerscollection_zoominout_texts">
	        <div class="bannerscollection_zoominout_text_line textElement11_opportuneFullWidth" data-initial-left="680" data-initial-top="900" data-final-left="110" data-final-top="900" data-duration="0.5" data-fade-start="0" data-delay="0"><span>VICTORIA</span></div>
	        <div class="bannerscollection_zoominout_text_line textElement42_opportuneFullWidth" data-initial-left="0" data-initial-top="985" data-final-left="100" data-final-top="985" data-duration="0.5" data-fade-start="0" data-delay="0.5"><span>43.0M PERINI NAVI 2004</span></div>
	        <div class="bannerscollection_zoominout_text_line textElement40_opportuneFullWidth" data-initial-left="0" data-initial-top="1070" data-final-left="120" data-final-top="1070" data-duration="0.5" data-fade-start="0" data-delay="0.5"><span><a href="#/sales/victoria">View Victoria</a></span></div>
       </div>      
<div id="bannerscollection_zoominout_photoText3" class="bannerscollection_zoominout_texts">
	        <div class="bannerscollection_zoominout_text_line textElement11_opportuneFullWidth" data-initial-left="680" data-initial-top="880" data-final-left="100" data-final-top="880" data-duration="0.5" data-fade-start="0" data-delay="0"><span>I Dynasty</span></div>
	        <div class="bannerscollection_zoominout_text_line textElement42_opportuneFullWidth" data-initial-left="0" data-initial-top="965" data-final-left="100" data-final-top="965" data-duration="0.5" data-fade-start="0" data-delay="0.5"><span>59.3M BENETTI 2008</span></div>
	        <div class="bannerscollection_zoominout_text_line textElement40_opportuneFullWidth" data-initial-left="0" data-initial-top="1050" data-final-left="120" data-final-top="1050" data-duration="0.5" data-fade-start="0" data-delay="0.5"><span><a href="#/sales/idynasty">View I Dynasty</a></span></div>
       </div>             
</div>