<div class="about main-container">
	<!-- <div class="top row">
		<div class="slide small-12 large-12 columns">
			<h1>Simplify yacht ownership</h1>
			<p><span>Vestibulum Scelerique Tempor Ante Commodo</span></p>
			<p><span>Pulvinar Phasellus Suscipit Dictum Semat</span></p>
			<hr>
		</div>
	</div> -->

	<!-- <div chevron src="images/chevron-about.png" width="84" height="40"></div> -->
	<div class="hide-for-small chevron">
		<div class="chevron-left"></div>
		<div class="indicator-wrapper">
			<img class="indicator" src="images/indicator.png">
		</div>
		<img class="arrow" src="images/chevron-about.png">
		<div class="chevron-right"></div>
	</div>
	<div class="bottom row">
		<div class="content small-12 large-12">
			<div class="text">
				<h1>About</h1>	
				<div class="two-column">
					<p class="text-justify">SuperYachtsMonaco is focused on the sale, purchase and charter of yachts of all sizes. Our headquarters are in Monaco and we operate in every region worldwide with a very experienced core team.</p>
					<p class="text-justify">Established 2008 in response to growing demand for a company with a simplified approach and a less complicated way of doing things, strong personal relationships are at the heart of our daily business. We offer clear, professional advice and help to make sense of a complex market. You can expect a consistent individualized service from skilled people with a really thorough knowledge of the market.</p>
					<p class="text-justify">We concentrate on speedy reaction to enquiries and on finding clever solutions to difficult problems. In every instance we understand that clients want to see optimization and efficiency in what we do.</p>
					<p class="text-justify">Our specific sales expertise is in the brokerage of existing yachts as well as new yacht construction contracts.   In the representation of individual yachts for sale or construction we maintain a realistic inventory so as to ensure that we can provide the necessary level of attention needed to do a proper job. In yacht charters, SuperYachtsMonaco is a leading agent, representing some of the world’s largest and most exclusive yachts. Our charter specialists create tailor-made holidays on yachts cruising in every corner of the world. In any and all arenas we offer serious insight and guidance on every kind of yacht, including those considered to be off-market and inaccessible.</p>
				</div>
			</div>
			<div class="photos row">
				<div class="face small-6 left large-3 columns">
				<a data-reveal-id="enquireOverlay" send-mail="" mail="je@superyachtsmonaco.com">
				<img src="images/team/jim.jpg">
				<img over-state="" class="overstate" src="images/team/jim_os.jpg">
				<p class="name">Jim Evans</p>
				<p class="title">Managing Director/Brokerage</p></a>
					<!-- <p class="email"><a href="mailto:je@superyachtsmonaco.com">je@superyachtsmonaco.com</a></p> -->
				</div>
				<div class="face small-6 left large-3 columns">
					<a data-reveal-id="enquireOverlay" send-mail="" mail="ab@superyachtsmonaco.com">
					<img src="images/team/alex.jpg">
					<img over-state="" class="overstate" src="images/team/alex_os.jpg">
					<p class="name">Alex Banning</p>
					<p class="title">Director/Brokerage</p>
					</a>
					<!-- <p class="email"><a href="mailto:ab@superyachtsmonaco.com">ab@superyachtsmonaco.com</a></p> -->
				</div>
				<div class="face small-6 left large-3 columns">
					<a data-reveal-id="enquireOverlay" send-mail="" mail="ja@superyachtsmonaco.com">
					<img src="images/team/james.jpg">
					<img over-state="" class="overstate" src="images/team/james_os.jpg">
					<p class="name">James Auld</p>
					<p class="title">Director/Brokerage</p></a>
					<!-- <p class="email"><a href="mailto:ja@superyachtsmonaco.com">ja@superyachtsmonaco.com</a></p> -->
				</div>
				<div class="face small-6 left large-3 columns">
					<a data-reveal-id="enquireOverlay" send-mail="" mail="je@superyachtsmonaco.com">
					<img src="images/team/vassilis.jpg">
					<img over-state="" class="overstate" src="images/team/vassilis_os.jpg">
					<p class="name">Vassilis Pateras</p>
					<p class="title">Brokerage - East Med</p></a>
					<!-- <p class="email"><a href="mailto:je@superyachtsmonaco.com">vp@superyachtsmonaco.com</a></p> -->
				</div>					
			</div>
			<div class="photos row">
				<div class="face small-6 left large-3 columns">
					<a data-reveal-id="enquireOverlay" send-mail="" mail="cc@superyachtsmonaco.com">
					<img src="images/team/christopher.jpg">
					<img over-state="" class="overstate" src="images/team/christopher_os.jpg">
					<p class="name">Christopher Craven</p>
					<p class="title">Charter Broker</p></a>
					<!-- <p class="email"><a href="mailto:cc@superyachtsmonaco.com">cc@superyachtsmonaco.com</a></p> -->
				</div>
				<div class="face small-6 left large-3 columns">
					<a data-reveal-id="enquireOverlay" send-mail="" mail="ep@superyachtsmonaco.com">
					<img src="images/team/ewa.jpg">
					<img over-state="" class="overstate" src="images/team/ewa_os.jpg">
					<p class="name">Ewa Petts</p>
					<p class="title">Charter Broker</p></a>
					<!-- <p class="email"><a href="mailto:ep@superyachtsmonaco.com">ep@superyachtsmonaco.com</a></p> -->
				</div>
				<div class="face small-6 left large-3 columns">
					<a data-reveal-id="enquireOverlay" send-mail="" mail="kh@superyachtsmonaco.com">
					<img src="images/team/katherine.jpg">
					<img over-state="" class="overstate" src="images/team/katherine_os.jpg">
					<p class="name">Katherine Hodson</p>
					<p class="title">EA to the Directors</p></a>
					<!-- <p class="email"><a href="mailto:kh@superyachtsmonaco.com">kh@superyachtsmonaco.com</a></p> -->
				</div>				
			</div>
			<hr>
			<div class="contact row">
				<div class="small-12 large-12 columns">
					<h1>Contact</h1>
				</div>
				<div class="map small-12 large-7 columns">
					<img src="images/pinmap.jpg">
				</div>
				<div class="address small-12 large-5 columns">
					<p>SuperYachtsMonaco</p>
					<p> Le Beau Rivage <br>
						9 Ave d'Ostende<br>
						Monaco 98000</p>
					<p>Office: +377 93 25 03 48<br>
						Fax: +377 93 25 03 49</p>
					<p>Email: <a href="mailto:contact@superyachtsmonaco.com">contact@superyachtsmonaco.com</a></p>
					<a class="button" data-reveal-id="enquireOverlay" send-mail="" mail="james@9zebra.com">ENQUIRE</a>
				</div>
			</div>
		</div>
	</div>
</div>