<div class="charter main-container">
<!-- 	<div class="top row">
		<div class="slide right small-12 large-12 columns">
			<p><span>The perfect charter is about</span></p>
			<p><span>getting the detail right</span></p>
		</div>
	</div> -->
	<div class="chevron hide-for-small">
		<div class="chevron-left"></div>
		<div class="indicator-wrapper">
			<img class="indicator" src="images/indicator.png">
		</div>
		<img class="arrow" src="images/chevron-yacht.png">
		<div class="chevron-right"></div>
	</div>
	<div class="bottom row" ng-controller="APICtrl">
		<div class="content">
			<div class="text row">
				<h1 class="small small-12 large-12 columns">Yachts For Charter</h1>	
				<p class="small-12 large-6 columns text-justify">
As your Broker we have access to over 2,000 yachts worldwide from 30m - 165m. Let us know what you are looking for and we will find the perfect yacht for you and your guests.   Here are just a few of the best. . .</p>
				<p class="small-12 large-6 columns">
				<div class="destination-button-wrapper">
				<a class="button" href="/#/destination">Destinations</a>
				</div>
				</p>
			</div>
			<div gray-scale="" class="photos row">
				<div class="boat small-6 large-3 columns" ng-repeat="yacht in yachtsCharter">
					<a href="/#/charter/{{yacht.uri}}">
					<img ng-src="{{yacht.teaser_image.teaser.url}}">	
					{{yacht.name}}
					</a>
					<ul>
						<li>{{yacht.builder}}</li>
						<li>{{yacht.length}}m</li>
						<li>{{yacht.year}}</li>
					</ul>
				</div>
				<div class="boat small-6 large-3 columns end">
				</div>
			</div>
		</div>
	</div>
</div>