<div class="destination main-container" ng-controller="PlaceCtrl">
	<div class="chevron">
		<div class="chevron-left"></div>
		<img src="images/chevron-yacht.png">
		<div class="chevron-right"></div>
	</div>
	<div class="bottom row">
		<div class="content">
			<div class="text row">
				<h1 class="small-12 large-12 columns">Destinations</h1>
				<p class="small-12 large-12 columns text-justify">Below is just a selection of the destinations we recommend you visit during your charter. We have also created an ideal itinerary per destination. Please contact us for more destination options or a Destination Itinerary.</p>
			</div>
			<div gray-scale="" class="photos row">
				<div class="boat small-6 left large-3 columns">
					<a href="/#/destination/place_adriatic">
					<img src="images/destination_teaser/adriatic.jpg">
					Adriatic</a>
					<ul>
						<li ng-bind="getPlace('adriatic').header1">Synonymous with pristine beaches</li>
					</ul>
				</div>
				<div class="boat small-6 left large-3 columns">
					<a href="/#/destination/place_western_mediterranean">
					<img src="images/destination_teaser/westmed.jpg">
					West med</a>
					<ul>
						<li ng-bind="getPlace('western_mediterranean').header1">Synonymous with pristine beaches</li>
					</ul>
				</div>
				<div class="boat small-6 left large-3 columns">
					<a href="/#/destination/place_eastern_mediterranean">
					<img src="images/destination_teaser/eastmed.jpg">
					East med</a>
					<ul>
						<li ng-bind="getPlace('eastern_mediterranean').header1">Synonymous with pristine beaches</li>
					</ul>
				</div>
				<div class="boat small-6 left large-3 columns">
					<a href="/#/destination/place_caribbean">
					<img src="images/destination_teaser/caribbean.jpg">
					Caribbean</a>
					<ul>
						<li ng-bind="getPlace('caribbean').header1">Synonymous with pristine beaches</li>
					</ul>
				</div>
			</div>
			<div gray-scale="" class="photos row">
				<div class="boat small-6 left large-3 columns">
<a href="/#/destination/place_indian_ocean">
					<img src="images/destination_teaser/indianocean.jpg">
					India Ocean</a>
					<ul>
						<li ng-bind="getPlace('indian_ocean').header1">Synonymous with pristine beaches</li>
					</ul>
				</div>
				<div class="boat small-6 left large-3 columns">
					<a href="/#/destination/place_thailand">
					<img src="images/destination_teaser/thailand.jpg">
					Thailand</a>
					<ul>
						<li ng-bind="getPlace('thailand').header1">Synonymous with pristine beaches</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>