<div class="homepage show-for-small small-12">	
<!-- 	<div>
		<h1>SYM New Construction</h1>
		<p><span>Provides skilled consultancy &amp; project management</span></p>
		<p><span>to owning &amp; building significant new yachts</span></p>		
	</div>	 -->
</div>