<div class="sales main-container">	
	<div class="chevron hide-for-small">
		<div class="chevron-left"></div>
		<div class="indicator-wrapper">
			<img class="indicator" src="images/indicator.png">
		</div>
		<img class="arrow" src="images/chevron-yacht.png">
		<div class="chevron-right"></div>
	</div>
	<div class="bottom row" ng-controller="APICtrl">
		<div class="content">
			<div class="text row">
				<h1 class="small-12 large-12 columns">Yachts For Sale</h1>	
				<p class="small-12 large-6 columns text-justify">Knowing the market as well as we do enables us to accurately value both new projects and existing inventory,  giving our clients a significant competitive advantage.</p>
				<p class="small-12 large-6 columns"></p>				
			</div>
			<div gray-scale="" class="photos row">
				<div class="boat small-6 large-3 columns" ng-repeat="yacht in yachtsSale">
					<a href="/#/sales/{{yacht.uri}}">
					<img ng-src="{{yacht.teaser_image.teaser.url}}">	
					{{yacht.name}}
					</a>
					<ul>
						<li>{{yacht.builder}}</li>
						<li>{{yacht.length}}m</li>
						<li>{{yacht.year}}</li>
					</ul>
				</div>
				<div class="boat small-6 large-3 columns end">					
				</div>
			</div>
		</div>
	</div>
</div>