<div class="term main-container">
	<div class="bottom row">
		<div class="content small-12 large-12">
			<div class="text">
				<h1>Terms & Conditions</h1>
					<h3>(1) Introduction</h3>
					<p>This disclaimer governs your use of our website; by using our website, you accept this disclaimer in full. If you disagree with any part of this disclaimer, you must not use our website. </p>		
					<h3>(2) Intellectual property rights</h3>
					<p>Unless otherwise stated, we or our licensors own the intellectual property rights in the website and material on the website. Subject to the licence below, all these intellectual property rights are reserved.</p>		
					<h3>(3) Licence to use website </h3>
					<p>You may view, download for caching purposes only, and print pages from the website for your own personal use, subject to the restrictions below.
					</p>		
					<p>You must not:</p>
					<ul>
						<li>republish material from this website (including republication on another website);</li>
						<li>sell, rent or otherwise sub-license material from the website;</li>
						<li>show any material from the website in public;</li>
						<li>reproduce, duplicate, copy or otherwise exploit material on our website for a commercial purpose;</li>
						<li>edit or otherwise modify any material on the website; or</li>
						<li>redistribute material from this website except for content specifically and expressly made available for redistribution </li>
					</ul>	
					<p>Limitation and exclusion of warranties and liability</p>
					<p>Whilst we endeavour to ensure that the information on this website is correct, we do not warrant its completeness or accuracy; nor do we commit to ensuring that the website remains available or that the material on the website is kept up to date.</p>
					<p>To the maximum extent permitted by applicable law, we exclude all representations, warranties and conditions relating to this website and the use of this website (including, without limitation, any warranties implied by law in respect of satisfactory quality, fitness for purpose and/or the use of reasonable care and skill).</p>
					<p>Nothing in this disclaimer will: (a) limit or exclude our or your liability for death or personal injury resulting from negligence; (b) limit or exclude our or your liability for fraud or fraudulent misrepresentation; (c) limit any of our or your liabilities in any way that is not permitted under applicable law; or (d) exclude any of our or your liabilities that may not be excluded under applicable law.</p>
					<p>The limitations and exclusions of liability set out in this Section and elsewhere in this disclaimer: (a) are subject to the preceding paragraph; and (b) govern all liabilities arising under the disclaimer or in relation to the subject matter of this disclaimer, including liabilities arising in contract, in tort (including negligence) and for breach of statutory duty.</p>
					<p>To the extent that the website and the information and services on the website are provided free of charge, we will not be liable for any loss or damage of any nature.</p>
					<p>We will not be liable to you in respect of any losses arising out of any event or events beyond our reasonable control.</p>
					<p>We will not be liable to you in respect of any business losses, including (without limitation) loss of or damage to profits, income, revenue, use, production, anticipated savings, business, contracts, commercial opportunities or goodwill.</p>
					<p>We will not be liable to you in respect of any loss or corruption of any data, database or software.</p>
					<p>We will not be liable to you in respect of any special, indirect or consequential loss or damage.</p>
					<p>Variation</p>
					<p>We may revise this disclaimer from time to time. The revised disclaimer will apply to the use of our website from the date of the publication of the revised disclaimer on our website.</p>
					<p>Entire agreement</p>
					<p>Subject to the third paragraph of Section [5], this disclaimer, together with our privacy policy, constitutes the entire agreement between you and us in relation to your use of our website and supersedes all previous agreements in respect of your use of our website.</p>
					<p>Law and jurisdiction</p>
					<p>This disclaimer will be governed by and construed in accordance with English law, and any disputes relating to this disclaimer will be subject to the non-exclusive jurisdiction of the courts of England and Wales.</p>
					<p>Our details</p>
					<p>The full name of our company is SuperYachtsMonaco</p>
					<p>We are registered in Monaco under registration number 71S0315</p>
					<p>Our registered address is Le Beau Rivage, 9 Ave d’Ostende, Monaco 98000. 
You can contact us by email to contact@superyachstmonaco.com</p>
					<h2>Privacy Policy</h2>
					<p>We are committed to safeguarding the privacy of our website visitors; this policy sets out how we will treat your personal information.</p>
					<p>Our website uses cookies. </p>
					<h3>(1)	What information do we collect?</h3>
					<p>We may collect, store and use the following kinds of personal information:</p>
					<ul>
						<li>information about your computer and about your visits to and use of this website (including [your IP address, geographical location, browser type and version, operating system, referral source, length of visit, page views and website navigation.</li>
						<li>information that you provide to us for the purpose of registering with us for further information</li>
						<li>information that you provide to us for the purpose of subscribing to our website services, email notifications and/or newsletters</li>
					</ul>
					<p>Before you disclose to us the personal information of another person, you must obtain that person's consent to both the disclosure and the processing of that personal information in accordance with the terms of this privacy policy.</p>
					<p>Cookies</p>
					<p>A cookie is a file containing an identifier (a string of letters and numbers) that is sent by a web server to a web browser and is stored by the browser. The identifier is then sent back to the server each time the browser requests a page from the server. This enables the web server to identify and track the web browser.</p>
					<p>We may use both "session" cookies and "persistent" cookies on the website. Session cookies will be deleted from your computer when you close your browser. Persistent cookies will remain stored on your computer until deleted, or until they reach a specified expiry date.</p>
					<p>We will use the session cookies to: keep track of you whilst you navigate the website. We will use the persistent cookies to: enable our website to recognise you when you visit and keep track of your preferences in relation to your use of our website.</p>
					<p>We use Google Analytics to analyse the use of this website. Google Analytics generates statistical and other information about website use by means of cookies, which are stored on users' computers. The information generated relating to our website is used to create reports about the use of the website. Google will store this information. Google's privacy policy is available at: http://www.google.com/privacypolicy.html.</p>
					<p>Most browsers allow you to reject all cookies, whilst some browsers allow you to reject just third party cookies. For example, in Internet Explorer (version 9) you can refuse all cookies by clicking "Tools", "Internet options", "Privacy", and selecting "Block All Cookies" using the sliding selector. Blocking all cookies will, however, have a negative impact upon the usability of many websites[, including this one.</p>
					<h3>(3) Using your personal information</h3>
					<p>Personal information submitted to us via this website will be used for the purposes specified in this privacy policy or in relevant parts of the website.</p>
					<p>We may use your personal information to:</p>
					<ul>
						<li>administer the website;</li>
						<li>improve your browsing experience by personalising the website;</li>
						<li>enable your use of the services available on the website;</li>
						<li>send you general (non-marketing) commercial communications;</li>
						<li>send you email notifications which you have specifically requested;</li>
						<li>send you our newsletter and other marketing communications relating to our business which we think may be of interest to you, by email or similar technology and you can inform us at any time if you no longer require marketing communications).</li>
					</ul>	
					<p>We will not, without your express consent, provide your personal information to any third parties for the purpose of direct marketing.</p>
					<h3>(4) Disclosures</h3>
					<p>We may disclose your personal information to any of our employees, officers, agents, suppliers or subcontractors insofar as reasonably necessary for the purposes set out in this privacy policy.</p>
					<p>We may disclose your personal information to any member of our group of companies (this means our subsidiaries, our ultimate holding company and all its subsidiaries) insofar as reasonably necessary for the purposes set out in this privacy policy.</p>
					<p>In addition, we may disclose your personal information: </p>
					<ul>
						<li>to the extent that we are required to do so by law;</li>
						<li>in connection with any ongoing or prospective legal proceedings;</li>
						<li>in order to establish, exercise or defend our legal rights (including providing information to others for the purposes of fraud prevention and reducing credit risk);</li>
						<li>o the purchaser (or prospective purchaser) of any business or asset that we are (or are contemplating) selling; and</li>
						<li>to any person who we reasonably believe may apply to a court or other competent authority for disclosure of that personal information where, in our reasonable opinion, such court or authority would be reasonably likely to order disclosure of that personal information.</li>
					</ul>
					<p>Except as provided in this privacy policy, we will not provide your information to third parties.</p>
					<h3>(5) International data transfers</h3>
					<p>Information that we collect may be stored and processed in and transferred between any of the countries in which we operate in order to enable us to use the information in accordance with this privacy policy.</p>
					<p>Information which you provide may be transferred to countries which do not have data protection laws equivalent to those in force in the European Economic Area. </p>
					<p>You expressly agree to such transfers of personal information.</p>
					<h3>(6) Security of your personal information</h3>
					<p>We will take reasonable technical and organisational precautions to prevent the loss, misuse or alteration of your personal information.</p>
					<p>We will store all the personal information you provide on our secure password protected servers.</p>
					<p>You acknowledge that the transmission of information over the internet is inherently insecure, and we cannot guarantee the security of data sent over the internet.</p>
					<h3>(7) Policy amendments</h3>
					<p>We may update this privacy policy from time to time by posting a new version on our website. You should check this page occasionally to ensure you are happy with any changes.</p>
					<h3>(8) Your rights</h3>
					<p>You may instruct us to provide you with any personal information we hold about you. Provision of such information will be subject to:</p>
					<ul>
						<li>the payment of a fee currently fixed at GBP 10; and</li>
						<li>the supply of appropriate evidence of your identity [(for this purpose, we will usually accept a photocopy of your passport certified by a solicitor or bank plus an original copy of a utility bill showing your current address)].</li>
					</ul>
					<p>We may withhold such personal information to the extent permitted by law.</p>
					<p>You may instruct us not to process your personal information for marketing purposes, by sending an email to us. In practice, you will usually either expressly agree in advance to our use of your personal information for marketing purposes, or we will provide you with an opportunity to opt out of the use of your personal information for marketing purposes.</p>
					<h3>(9) Third party websites</h3>
					<p>The website contains links to other websites. We are not responsible for the privacy policies or practices of third party websites.</p>
					<h3>(10) Updating information</h3>
					<p>Please let us know if the personal information which we hold about you needs to be corrected or updated.</p>
					<h3>(11) Contact</h3>
					<p>If you have any questions about this privacy policy or our treatment of your personal information, please write to us by email to contact@superyachtsmonaco.com</p>
					<h3>(12) Data controller</h3>
					<p>The data controller responsible in respect of the information collected on this website is SuperYachtsMonaco</p>
			</div>			
		</div>
	</div>
</div>