<script>
	var initOrbit = function(elemId){		
		$("#" + elemId).foundation('orbit', 
		  {
		    animation: 'slide',
		    timer_speed: 5000,
		    pause_on_hover: false,
		    resume_on_mouseout: true,
		    animation_speed: 1000,
		    navigation_arrows: true,
		    bullets: false,
		    slide_number: false,
		  });
	}
</script>
<div class="yachts-sales main-container" ng-controller="YachtSalesCtrl" style="background-color:{{ yacht.details.hex_code }} !important">	
	<div class="bottom row">
		<div class="content single small-12 large-12">
			<div class="title row">
				<div class="left small-12 large-8 columns">
					<h1>{{ yacht.details.name }}</h1>
					<ul>
						<li>{{ yacht.details.length }} M</li>
						<li>•</li>
						<li>{{ yacht.details.builder }} </li>
						<li>•</li>
						<li>{{ yacht.details.year }}</li>
					</ul>
				</div>
				<div class="right small-12 large-4 columns">
					<a class="button" data-reveal-id="enquireOverlay">Enquire</a>
				</div>
			</div>
			<hr>			
			<div class="description row">
				<div class="stats small-12 large-6 columns">
					<table>
						<tr>			
							<td class="beam"><p>BEAM:</p><span>{{ yacht.details.beam }}</span><sub>M</sub></td>	
							<td class="designer"><p>DESIGNER:</p><span>{{ yacht.details.designer }}</span></td>
							<td class="engine"><p>ENGINE:</p><span>{{ yacht.details.engine }}</span></td>
						</tr>
						<tr>
							<td class="draft"><p>DRAFT:</p><span>{{ yacht.details.draft }}</span><sub>M</sub></td>
							<td class="guests"><p>GUESTS:</p><span>{{ yacht.details.guest }}</span></td>
							<td class="cruising"><p>CRUISING SPEED:</p><span>{{ yacht.details.speed }}</span><sub>KTS</sub></td>
							</tr>
						<tr>
							<td class="hull"><p>HULL:</p><span>{{ yacht.details.hull }}</span></td>	
							<td class="flag"><img ng-src="{{ yacht.details.flag_image.url}}"><p>FlAG:</p><span>{{ yacht.details.flag }}</span></td>
							<td class="grt"><p>GRT:</p><span>{{ yacht.details.grt }}</span></td>
						</tr>
					</table>
					<div>
						<h3 class="price">PRICE <span> {{ yacht.details.price }}</span></h3></div>
				</div>
				<div class="copy small-8 large-4 columns">
					<p class="text-justify">{{ yacht.details.description }}</p>
				</div>
				<div class="location small-4 large-2 columns">
					<p>Currently Lying:<br>
						<span>{{ yacht.details.location }}</span></p>
					<img ng-src="{{yacht.details.location_image.url}}">
				</div>
			</div>
			<div class="gallery interior row" ng-if="yacht.interior.length > 0">
				<ul id="interior-gallery" data-orbit="" class="small-12 large-12 columns">
					<li ng-repeat="picture in yacht.interior">
						<img ng-src="{{picture.interior_gallery.url}}">
					</li>
				</ul>	
				<script>
					setTimeout(function(){
						initOrbit('interior-gallery');
						$('#interior-gallery').siblings(".orbit-timer").click();		
					}, 1);				
				  setTimeout(function() {
				  	$('#interior-gallery').siblings(".orbit-timer").click();					
				  }, 1000);	
				</script>
			</div>
			<hr>
			<div class="gallery exterior row" ng-if="yacht.exterior.length > 0">				
				<ul id="exterior-gallery" data-orbit="" class="small-12 large-12 columns">
					<li ng-repeat="picture in yacht.exterior">
						<img ng-src="{{picture.external_gallery.url}}">
					</li>
				</ul>
				<script>
					setTimeout(function(){
						initOrbit('exterior-gallery');
					}, 10);					
				</script>
				<!-- <div orbit-exterior></div> -->
			</div>
			<hr>
			<div class="summary row">
				<div class="title small-12 large-5 columns">
					<h2>{{ yacht.details.name }}</h2>
				</div>
				<div class="price small-12 large-5 columns">
					<h3 class="price">PRICE <span> {{ yacht.details.price }}</span></h3>	
				</div>
				<div class="enquire small-12 large-2 columns">
					<a class="button" data-reveal-id="enquireOverlay">Enquire</a>
				</div>
			</div>
		</div>
	</div>
</div>