<div id="top-slider" slider-width="">         	                
        <ul class="bannerscollection_zoominout_list">
       		<li data-initialzoom="1" data-finalzoom="1.05" data-horizontalposition="center" data-verticalposition="center" data-text-id="#bannerscollection_zoominout_photoText1"><img src="images/destinations_1.jpg" alt="" width="2500" height="1300"></li>
          <li data-initialzoom="1" data-finalzoom="1.05" data-horizontalposition="center" data-verticalposition="center" data-text-id="#bannerscollection_zoominout_photoText2"><img src="images/destinations_2.jpg" alt="" width="2500" height="1300"></li>
        </ul>
        <div id="bannerscollection_zoominout_photoText1" class="bannerscollection_zoominout_texts">
	        <div class="bannerscollection_zoominout_text_line textElement11_opportuneFullWidth" data-initial-left="680" data-initial-top="900" data-final-left="150" data-final-top="900" data-duration="0.5" data-fade-start="0" data-delay="0"><span>Summer Charters</span></div>
	        <div class="bannerscollection_zoominout_text_line textElement42_opportuneFullWidth" data-initial-left="0" data-initial-top="995" data-final-left="150" data-final-top="995" data-duration="0.5" data-fade-start="0" data-delay="0.5"><span>Adriatic, Western and Eastern Mediterranean </span></div>	
       </div>     
			<div id="bannerscollection_zoominout_photoText2" class="bannerscollection_zoominout_texts">
	        <div class="bannerscollection_zoominout_text_line textElement11_opportuneFullWidth" data-initial-left="680" data-initial-top="900" data-final-left="150" data-final-top="900" data-duration="0.5" data-fade-start="0" data-delay="0"><span>Winter Charters</span></div>
	        <div class="bannerscollection_zoominout_text_line textElement42_opportuneFullWidth" data-initial-left="0" data-initial-top="995" data-final-left="150" data-final-top="995" data-duration="0.5" data-fade-start="0" data-delay="0.5"><span>Caribbean, Indian Ocean and Thailand</span></div>	
       </div>            

   </div>    
     
<!-- <div class="for destination">
	<scaled-image img-src="images/destination-background.jpg"></scaled-image>
</div> -->