<div ng-controller="PlaceCtrl">  
  <div id="top-slider" slider-width="">       

        <ul class="bannerscollection_zoominout_list">
           <li data-initialzoom="1" data-finalzoom="1" data-horizontalposition="center" data-verticalposition="top" data-text-id="#bannerscollection_zoominout_photoText1"><img src="images/destinations/{{ place.img_base_path }}a.jpg" alt="" width="2500" height="1300"></li>    
          <li data-initialzoom="1" data-finalzoom="1" data-horizontalposition="center" data-verticalposition="top" data-text-id="#bannerscollection_zoominout_photoText1"><img src="images/destinations/{{ place.img_base_path }}a.jpg" alt="" width="2500" height="1300"></li>    
        </ul>                
      <div id="bannerscollection_zoominout_photoText1" class="bannerscollection_zoominout_texts">
          <div class="bannerscollection_zoominout_text_line textElement11_opportuneFullWidth" data-initial-left="680" data-initial-top="{{ place.position_y }}" data-final-left="{{ place.position_x }}" data-final-top="{{ place.position_y }}" data-duration="0.5" data-fade-start="0" data-delay="0"><span ng-bind="place.title">SIMPLIFY YACHT OWNERSHIP</span></div>          
       </div>    
           </div></div>
<div id="logx"></div>           
<!--<div class="background row" ng-controller="HomepageCtrl">-->
<!-- <div class="for homepage">
	<scaled-image img-src="images/homepage-day.png"></scaled-image>
</div> -->

<!-- <div class="for build">
	<scaled-image img-src="images/Build_1.jpg"></scaled-image>
</div> -->