<div id="top-slider" slider-width="">            	                
        <ul class="bannerscollection_zoominout_list">
       		<li data-initialzoom="1" data-finalzoom="1.05" data-horizontalposition="center" data-verticalposition="center" data-text-id="#bannerscollection_zoominout_photoText1"><img src="images/about_1.jpg" alt="" width="2500" height="1300" spinner-on-load=""></li>
          <li data-initialzoom="1" data-finalzoom="1.05" data-horizontalposition="center" data-verticalposition="center" data-text-id="#bannerscollection_zoominout_photoText2"><img src="images/about_2.jpg" alt="" width="2500" height="1300" spinner-on-load=""></li>
			<li data-initialzoom="1" data-finalzoom="1.05" data-horizontalposition="center" data-verticalposition="center" data-text-id="#bannerscollection_zoominout_photoText3"><img src="images/about_3.jpg" alt="" width="2500" height="1300" spinner-on-load=""></li>          
        </ul>
        <div id="bannerscollection_zoominout_photoText1" class="bannerscollection_zoominout_texts">
	        <div class="bannerscollection_zoominout_text_line textElement11_opportuneFullWidth" data-initial-left="680" data-initial-top="740" data-final-left="100" data-final-top="740" data-duration="0.5" data-fade-start="0" data-delay="0"><span>Simplified Yacht Ownership</span></div>
       </div>  
       <div id="bannerscollection_zoominout_photoText2" class="bannerscollection_zoominout_texts">
	        <div class="bannerscollection_zoominout_text_line textElement11_opportuneFullWidth" data-initial-left="1000" data-initial-top="350" data-final-left="1600" data-final-top="350" data-duration="0.5" data-fade-start="0" data-delay="0"><span>Headquarters </span></div>
	        <div class="bannerscollection_zoominout_text_line textElement42_opportuneFullWidth" data-initial-left="1000" data-initial-top="435" data-final-left="900" data-final-top="435" data-duration="0.5" data-fade-start="0" data-delay="0.5"><span>Located in <span style="font-weight:bold">Monaco</span> with operations worldwide</span></div>
       </div>   
         <div id="bannerscollection_zoominout_photoText3" class="bannerscollection_zoominout_texts">
	        <div class="bannerscollection_zoominout_text_line textElement11_opportuneFullWidth" data-initial-left="680" data-initial-top="880" data-final-left="100" data-final-top="880" data-duration="0.5" data-fade-start="0" data-delay="0"><span>Experienced</span></div>
	        <div class="bannerscollection_zoominout_text_line textElement42_opportuneFullWidth" data-initial-left="0" data-initial-top="965" data-final-left="100" data-final-top="965" data-duration="0.5" data-fade-start="0" data-delay="0.5"><span>Offering experienced individualised</span></div>
          <div class="bannerscollection_zoominout_text_line textElement42_opportuneFullWidth" data-initial-left="0" data-initial-top="1050" data-final-left="100" data-final-top="1050" data-duration="0.5" data-fade-start="0" data-delay="0.5"><span>service tailored to your needs</span></div>
       </div>     

   </div>    
     
<!-- <div class="for about">
	<scaled-image scale-100 img-src="images/about-bg.jpg"></scaled-image>
</div> -->