<div class="container {{ bodyClass }}" ng-controller="LayoutCtrl">
  <div id="intro"></div>
  <div id="container-wrapper" ng-controller="WeatherCtrl">
    <div class="header" ng-include="" src="templates.header"></div>
    <div class="background" ng-include="" src="templates.background"></div>  
    <div class="main" ng-include="" src="templates.main"></div>
    <div class="footer" ng-include="" src="templates.footer"></div>
  </div>  
 <!-- This is the popup window for when you click ENQUIRE button on any page -->
<div id="enquireOverlay" class="small-12 large-12 columns reveal-modal enquire-overlay" data-reveal="">
  <h1>
  	CONTACT<br>
  	SUPERYACHTSMONACO
  </h1>
  <a class="close-reveal-modal"><img src="images/overlay-close-button.png"></a>
  <div class="enquire-form">
  	<form id="enquire-form">
  		<div class="row">
  			<div class="small-12 large-12 columns">
  				<input id="subject" name="subject" type="text" placeholder="Subject">
  			</div>
  		</div>
  		<div class="row">
  			<div class="small-12 large-12 columns">
  				<input id="name" name="name" type="text" placeholder="Your name">
  			</div>
  		</div>
  		<div class="row">
  			<div class="small-12 large-12 columns">
  				<input id="email" name="email" required="" type="text" placeholder="Your E-mail address">
  			</div>
  		</div>
  		<div class="row">
  			<div class="small-12 large-12 columns">
  				<textarea id="area" name="area" placeholder="Your Enquiry"></textarea>
  			</div>
  		</div>
  		<div class="row checkboxes">
  			<div class="small-12 large-12 columns">
  				<label for="sign-me-up">Sign me up for announcements and updates</label> <input id="sign-me-up" type="checkbox"><br>
  				I am interested in:<br>
  				<div class="small-3 large-2 columns">
	  				<label for="sales">Sales</label><br>
	  				<label for="charter">Charter</label><br>
	  				<label for="build">Build</label><br>
  				</div>
  				<div class="small-9 large-10 columns">
  					<input id="sales" type="checkbox"><br>
  					<input id="charter" type="checkbox"><br>
  					<input id="build" type="checkbox"><br>
  				</div>
  			</div>
  		</div>      
        <p id="enquire-thankyou" style="font-size:15px;position:absolute;padding-top:20px">
          Thank you for contacting SuperYachtsMonaco. We will be in touch shortly
        </p>
        <p id="enquire-incorrect" style="font-size:15px;position:absolute;padding-top:20px">
          Name, subject, email and enquiry can't be blank.
        </p>

        <a class="button submit-enquiry-button" id="form-submit">ENQUIRE</a>
      
        <input id="mail-hidden" type="hidden" name="Language" value="">
  	</form>
  </div>
</div>
</div>
<script type="text/javascript">
        $(document).ready(function(){            
            var patt = new RegExp("^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$");         
            $('#enquire-thankyou').hide();
            $('#enquire-incorrect').hide();              
            $('#form-submit').click(function(){
              var isValid = true;
              var formData = {};
              formData.name = $('#name').val();
              formData.subject = $('#subject').val();
              formData.email = $('#email').val();
              formData.area = $('#area').val();
              formData.signup = $('#sign-me-up').prop("checked");
              formData.sales = $('#sales').prop("checked");
              formData.charter = $('#charter').prop("checked");
              formData.build = $('#build').prop("checked");
              formData.hiddenMail = $('#mail-hidden').val();
              if(!patt.test(formData.email)){
                isValid = isValid && false;                
              }
              if(formData.subject == "" || 
                 formData.name == "" ||
                 formData.area == ""){
                isValid = isValid && false;
              }

              if(!isValid){                
                $('#enquire-incorrect').fadeIn();   
                setTimeout(function(){                
                  $('#enquire-incorrect').fadeOut();
                }, 3000);             
              }
              else{                
                $.post( "/mail", formData)
                  .done(function( data ) {
                    $('#enquire-thankyou').fadeIn();
                    setTimeout(function(){
                      $('a.close-reveal-modal').trigger('click');
                      $('#enquire-thankyou').fadeOut();
                    }, 3000);     
                });                
              }
            });            
        });
</script>