<div class="container" ng-controller="LayoutCtrl">

  <div ng-include="" src="templates.header"></div>
  <div ng-include="" src="templates.main"></div>
  <div ng-include="" src="templates.footer"></div>
  
</div>