<div id="top-slider" slider="" ng-controller="WeatherCtrl">            	                
    <ul class="bannerscollection_zoominout_list">
		<li data-initialzoom="1" data-finalzoom="1.05" data-horizontalposition="center" data-verticalposition="top" data-text-id="#bannerscollection_zoominout_photoText1"><img ng-src="images/home_{{weather.time}}.jpg" alt="" width="2500"></li>
      <li data-initialzoom="1.05" data-finalzoom="1" data-horizontalposition="center" data-text-id="#bannerscollection_zoominout_photoText2" data-verticalposition="top"><img ng-src="images/home_{{weather.time}}.jpg" alt="" width="2500" height="1300"></li>
          <!-- <li data-initialZoom="1" data-finalZoom="1" data-horizontalPosition="center" data-verticalPosition="top" data-text-id="#bannerscollection_zoominout_photoText3" ><img src="images/home_day.jpg" alt="" width="2500"/></li> -->
        </ul>                
       <div id="bannerscollection_zoominout_photoText1" class="bannerscollection_zoominout_texts">
        <div class="bannerscollection_zoominout_text_line textElement11_opportuneFullWidth" data-initial-left="680" data-initial-top="400" data-final-left="100" data-final-top="400" data-duration="0.6" data-fade-start="0" data-delay="0"><span>A <span style="font-weight:bold">New</span> Approach</span></div>
        <div class="bannerscollection_zoominout_text_line textElement42_opportuneFullWidth" data-initial-left="0" data-initial-top="500" data-final-left="100" data-final-top="500" data-duration="0.6" data-fade-start="0" data-delay="0.5"><span>Simplified Yacht Ownership</span></div>
        <div class="bannerscollection_zoominout_text_line textElement40_opportuneFullWidth" data-initial-left="0" data-initial-top="580" data-final-left="115" data-final-top="580" data-duration="0.6" data-fade-start="0" data-delay="0.5"><span><a href="/#/about">Find out more</a></span></div>
       </div>     
		<div id="bannerscollection_zoominout_photoText2" class="bannerscollection_zoominout_texts">
        <div class="bannerscollection_zoominout_text_line textElement11_opportuneFullWidth" data-initial-left="680" data-initial-top="400" data-final-left="100" data-final-top="400" data-duration="0.6" data-fade-start="0" data-delay="0"><span>A <span style="font-weight:bold">New</span> Approach</span></div>
        <div class="bannerscollection_zoominout_text_line textElement42_opportuneFullWidth" data-initial-left="0" data-initial-top="500" data-final-left="100" data-final-top="500" data-duration="0.6" data-fade-start="0" data-delay="0.5"><span>Experts In sales, new construction <br>and charter</span></div>
        <div class="bannerscollection_zoominout_text_line textElement40_opportuneFullWidth" data-initial-left="0" data-initial-top="650" data-final-left="115" data-final-top="650" data-duration="0.6" data-fade-start="0" data-delay="0.5"><span><a href="/#/about">Find out more</a></span></div>		        
       </div>     	
   </div>
<div id="logx"></div>       
<!--<div class="background row" ng-controller="HomepageCtrl">-->
<!-- <div class="for homepage">
	<scaled-image img-src="images/homepage-day.png"></scaled-image>
</div> -->