<div class="show-for-small top row">
	<div class="contact small-12 large-3 columns">
		<p class="header">Contact</p>
		<p>Office: +377 93 25 03 48<br>
			<a href="mailto:contact@superyachtsmonaco.com">contact@superyachtsmonaco.com</a></p>
	</div>
	<div class="sitemap small-12 large-4 columns">
		<p class="header">Sitemap</p>
		<ul>
			<li><a href="#/term-condition" class="cap">legal</a></li>
			<li><p class="cap" style="float:left;margin-right:5px">Follow: </p><a href="https://www.facebook.com/superyachtsmonaco"><img class="social" src="images/facebook-footer.jpg" alt="" width="17"></a>
		<a href="https://twitter.com/SYM_98000"><img class="social" src="images/twitter-footer.jpg" alt="" width="17"></a></li>
		</ul>
	</div>
	<div class="about small-12 large-3 columns">
		<div class="row">
			<div class="logo small-3 large-4 columns">
			</div>
			<div class="content small-8 large-7 columns">
				<p class="cap">Experts in sales, new construction &amp; charter</p><p>
				</p><p>Copyright 2014</p>				
			</div>
		</div>
	</div>
</div>
<div class="hide-for-small bottom">
	<div class="left">
			<img src="images/footer-logo.png" alt="" width="20">
			<p class="cap">Experts in sales, new construction &amp; charter</p>
	</div>			
	<div class="right">
		<ul>			
		<li style="width:130px"><a data-reveal-id="enquireOverlay" class="cap" style="margin-right:10px">Contact</a><span class="tel-footer">+377 93 25 03 48</span></li>			
		<li><a href="#/term-condition" class="cap">legal</a></li>
		<li><p class="cap">Follow: </p><a href="https://www.facebook.com/superyachtsmonaco"><img class="social" src="images/facebook-footer.jpg" alt="" width="17"></a>
		<a href="https://twitter.com/SYM_98000"><img class="social" src="images/twitter-footer.jpg" alt="" width="17"></a>
		</li>
		<li><p class="cap">copyright sym 2014</p></li>
		</ul>		
	</div>
</div>