<div class="">
<!-- 	<div blurred-background class="masthead-background"></div> -->
	<div class="masthead small-12 large-12 columns">
		<a href="#/"><img class="logo" src="images/sym-logo.png"></a>
		<!-- <a class="show-for-small"><img class="logo" src="images/sym-logo-small.png"></a>	 -->	
		<div class="weather hide-for-small">
		<a class="show-for-small"><img class="logo" src="images/sym-logo-small.png"></a>		
			<p><img class="weather-icon" ng-src="{{ weather.icon }}">{{ weather.temp.current }}°</p>
		</div>
	</div>
</div>
<div style="clear:both"></div>
<div class="nav">
	<div class="small-12 large-5 large-centered columns">
		<ul class="row">
			<li class="small-3 large-3 columns"><a ng-class="{active: activeTab == 'about'}" nav-item="" href="/#/about" target="_self">About</a></li>
			<li class="small-3 large-3 columns"><a ng-class="{active: activeTab == 'sales'}" nav-item="" href="/#/sales" hover="" hover-class="nav-sales" target="_self">Sales</a></li>
			<li class="small-3 large-3 columns"><a ng-class="{active: activeTab == 'charter'}" href="/#/charter" nav-item="" hover="" hover-class="nav-charter" target="_self">Charter</a></li>
			<li class="small-3 large-3 columns"><a ng-class="{active: activeTab == 'build'}" nav-item="" href="/#/build" target="_self">Build</a></li>			
		</ul>
	</div>
</div>
<div class="center-wrapper">
<div class="sub-nav-wrapper" ng-controller="APICtrl">
<div sub-nav="" hover="" hover-class="nav-charter" class="sub-nav nav-charter hide-for-small">
	<div class="row">			
			<ul gray-scale="" class="left large-8 columns">
				<li ng-repeat="yacht in yachtsCharter">
					<a nav-item="" href="/#/charter/{{yacht.uri}}">
					<img ng-src="{{yacht.teaser_image.thumb.url}}">
					<p>{{yacht.name}}</p>
					</a>
				</li>
			</ul>						
		<div class="right large-4 columns">
			<a nav-item="" href="/#/destination">
			<img src="images/sample-destination.jpg">
			<p class="destination">Destination Guides</p></a>
		</div>
	</div>
	<div class="underline large-12 columns">
	</div>
</div>
<div hover="" hover-class="nav-sales" class="sub-nav nav-sales hide-for-small">
	<div class="row">
		<ul gray-scale="" class="large-12 columns">
			<li ng-repeat="yacht in yachtsSale">
				<a nav-item="" href="/#/sales/{{yacht.uri}}">
				<img ng-src="{{yacht.teaser_image.thumb.url}}">
				<p>{{yacht.name}}</p>
				</a>
			</li>
		</ul>
	</div>		
</div>
</div></div>