<script>
	clearAnimationTimeout();
</script>
<div id="top-slider" slider-width="">       	                
        <ul class="bannerscollection_zoominout_list">
	   	<li data-initialzoom="1" data-finalzoom="1.05" data-horizontalposition="center" data-text-id="#charter_bannerscollection_zoominout_photoText1" data-verticalposition="center"><img src="images/charter_1.jpg" alt="" width="2500" height="1300"></li>
      <li data-initialzoom="1" data-finalzoom="1.05" data-horizontalposition="center" data-text-id="#charter_bannerscollection_zoominout_photoText2" data-verticalposition="center"><img src="images/charter_2.jpg" alt="" width="2500" height="1300"></li>
      <li data-initialzoom="1" data-finalzoom="1.05" data-horizontalposition="center" data-text-id="#charter_bannerscollection_zoominout_photoText3" data-verticalposition="center"><img src="images/charter_3.jpg" alt="" width="2500" height="1300"></li>
        </ul>  
        <div id="charter_bannerscollection_zoominout_photoText1" class="bannerscollection_zoominout_texts">
	        <div class="bannerscollection_zoominout_text_line textElement11_opportuneFullWidth" data-initial-left="680" data-initial-top="300" data-final-left="1900" data-final-top="300" data-duration="0.6" data-fade-start="0" data-delay="0"><span>CHARTER </span></div>
	        <div class="bannerscollection_zoominout_text_line textElement42_opportuneFullWidth" data-initial-left="0" data-initial-top="385" data-final-left="840" data-final-top="385" data-duration="0.6" data-fade-start="0" data-delay="1"><span>The perfect charter is about getting the <span style="font-weight:bold">detail right</span></span></div>
	        <div class="bannerscollection_zoominout_text_line textElement40_opportuneFullWidth" data-initial-left="1800" data-initial-top="470" data-final-left="2110" data-final-top="470" data-duration="0.6" data-fade-start="0" data-delay="1.7"><span><a data-reveal-id="enquireOverlay">Enquire</a></span></div>
       </div>  
       <div id="charter_bannerscollection_zoominout_photoText2" class="bannerscollection_zoominout_texts">
	        <div class="bannerscollection_zoominout_text_line textElement11_opportuneFullWidth" data-initial-left="680" data-initial-top="530" data-final-left="100" data-final-top="530" data-duration="0.6" data-fade-start="0" data-delay="0"><span>CHARTER </span></div>
	        <div class="bannerscollection_zoominout_text_line textElement42_opportuneFullWidth" data-initial-left="0" data-initial-top="615" data-final-left="100" data-final-top="615" data-duration="0.6" data-fade-start="0" data-delay="1"><span>No two charters are the same. We ensure we match</span></div>
	        <div class="bannerscollection_zoominout_text_line textElement42_opportuneFullWidth" data-initial-left="0" data-initial-top="670" data-final-left="100" data-final-top="670" data-duration="0.6" data-fade-start="0" data-delay="1"><span>the <span style="font-weight:bold">right client</span>, to the <span style="font-weight:bold">right yacht</span> with the <span style="font-weight:bold">right crew</span></span></div>
	        <div class="bannerscollection_zoominout_text_line textElement40_opportuneFullWidth" data-initial-left="0" data-initial-top="755" data-final-left="120" data-final-top="755" data-duration="0.6" data-fade-start="0" data-delay="1.7"><span><a data-reveal-id="enquireOverlay">Enquire</a></span></div>
       </div>   
           <div id="charter_bannerscollection_zoominout_photoText3" class="bannerscollection_zoominout_texts">
	        <div class="bannerscollection_zoominout_text_line textElement11_opportuneFullWidth" data-initial-left="680" data-initial-top="800" data-final-left="1700" data-final-top="800" data-duration="0.6" data-fade-start="0" data-delay="0"><span>Destinations</span></div>
	        <div class="bannerscollection_zoominout_text_line textElement42_opportuneFullWidth" data-initial-left="500" data-initial-top="885" data-final-left="820" data-final-top="885" data-duration="0.6" data-fade-start="0" data-delay="1"><span>Sardinia, Turkey, St Barts, Maldives, Tahiti, Antarctica . .</span></div>
	        <div class="bannerscollection_zoominout_text_line textElement42_opportuneFullWidth" data-initial-left="0" data-initial-top="950" data-final-left="460" data-final-top="950" data-duration="0.6" data-fade-start="0" data-delay="1"><span>we're here to <span style="font-weight:bold">represent your interest</span> in charter, no matter where</span></div>
	        <div class="bannerscollection_zoominout_text_line textElement40_opportuneFullWidth" data-initial-left="1800" data-initial-top="1035" data-final-left="2115" data-final-top="1035" data-duration="0.6" data-fade-start="0" data-delay="1.7"><span><a data-reveal-id="enquireOverlay">Enquire</a></span></div>
       </div>  
        <div id="charter_bannerscollection_zoominout_photoText4" class="bannerscollection_zoominout_texts">
	        <div class="bannerscollection_zoominout_text_line textElement11_opportuneFullWidth" data-initial-left="680" data-initial-top="780" data-final-left="100" data-final-top="780" data-duration="0.6" data-fade-start="0" data-delay="0"><span>Eclipse</span></div>
	        <div class="bannerscollection_zoominout_text_line textElement42_opportuneFullWidth" data-initial-left="0" data-initial-top="899" data-final-left="100" data-final-top="899" data-duration="0.6" data-fade-start="0" data-delay="0.5"><span>Available for Charter</span></div>
	        <div class="bannerscollection_zoominout_text_line textElement42_opportuneFullWidth" data-initial-left="0" data-initial-top="985" data-final-left="100" data-final-top="985" data-duration="0.6" data-fade-start="0" data-delay="0.5"><span>163.5M Blohm & Voss 2010</span></div>
	        <div class="bannerscollection_zoominout_text_line textElement40_opportuneFullWidth" data-initial-left="0" data-initial-top="1070" data-final-left="100" data-final-top="1070" data-duration="0.6" data-fade-start="0" data-delay="0.5"><span><a href="/#/charter/yacht_1">View Eclipse</a></span></div>
       </div>  
   </div>